body {
  font-family: 'OnePlus Sans Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
  overflow-x: hidden;
}



.nav {
  display: flex;
  position: relative;
  height: inherit;
  width: 100%;
  padding:0;
  margin: 0;
  background-color: #fff;
  justify-content: space-evenly;
  border-bottom: 0.5px solid rgb(208, 208, 208);

}


.navleft {
  text-align: center;
  display: flex;
  font-size: 13.5px;
  color: red;
  font-weight: bold;
  position: relative ;
  left: -4rem;

}

.navleft img {
  height: 26px;
  margin-top: 9px;

}

.navcentre {
  box-sizing: border-box;
  position: relative;
  font-size: 1pc;
  line-height: 1.5;
  color: #000;
  font-weight: 400;
  right: 3rem;
}



.navcentre ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  list-style: none;
  font-size: 14px;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

.navcentre ul li{
  height: 100%;
}

/* These are the href anchor tag Links in the navcentre bar */
.linkcontainer{     
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  min-width: 40px;
}


/* Adding The Hovering Property To the link container */

.linkcontainer::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px; /* Adjust the height to match the desired border thickness */
  background-color: red;
  transition: width 0.3s ease; /* Transition the width property */
}

.linkcontainer:hover::after {
  width: 100%; /* Expand the width to 100% on hover */
}


.navcentre ul li a {
  text-decoration: none;
  list-style: none;
  color: black;


}


/* This the rightmost Part of the Navbar with search cart and more options button */
.navright {

  background-color: white;
}

.service-buttons {
  display: flex;
  background-color: white;
  gap: 16px;
  margin-right: -46px;
}

.button {
  width: 30px;
  height: 32px;
}

.firstsideboxwithlogoname {
  margin-top: 2%;
  position: absolute;
  margin-left: 4%;
}

.firstsideboxwithlogoname p {
  font-weight: 400;
  

}

.firstsideboxwithlogoname div {
  font-weight: 200;
  font-size: 36px;
  
}



#imgfirstsection {
  width: 200%;
  height: auto;
  margin-left: -46.5rem;
}

.secondsideboxwithoffers1 {

  position: absolute;
  margin-top: 32%;
  margin-left: 11px;
}

#text1 {
  margin-left: -12rem;
  font-family: 'OnePlus Sans Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
  font-size: 16px;
  font-weight: 593;
  margin-bottom: -13px;
  color: black;
  margin-top: 0rem;
  line-height: 7px;
}





.smallbuttons {

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  margin-left: 75px;
}


.buynow {

  background-color: black;
  color: white;
  width: 9rem;
  

}

.learnmore {
  font-size: 12px;

}

/* Second Section of the page starts from here */




.secondsideboxwithoffers {
  position: absolute;
  margin-top: 32%;
  margin-left: -150px;
  color: white;
}

#text2 {

  margin: 1px;
  line-height: 7px;
  font-size: 15px;
  font-weight: 400;
  margin-left: -38px;
}

.smallbuttons2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  margin-left: 75px;
}



/* section 3 starts here */

#text3 {
  margin: 1px;
  line-height: 7px;
  font-size: 15px;
  font-weight: 400;
  margin-left: -38px;

}


/* We are Giving CSS to the card Section Classes from Here */




.informationcards{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 14px;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 4rem;
}
  

.card{
    background-color: red;
    width: 45%;
    height: 28rem;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.cardimages{
  width: 100%;
    height: 100%;
    object-fit: cover;


}

.cardheading{
  position: absolute;
  margin-top: -16rem;
  margin-left: -23rem;
}

.cardheading div{
  font-weight: 200;
  font-weight: 200;
  font-size: 32px;
  

}


.lowerheading{
  display: flex;
  gap: 10px;
  align-items: normal;
  justify-content: unsafe;
  margin-top: 23rem;
}



#card3 img, #card4 img {
  transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}

#card3:hover img ,#card4:hover img {
  transform: scale(1.2); /* Increase the scale to zoom in on hover */
}